.contacts {
    margin-bottom: 100px;
    &__title {
        margin-bottom: 100px;
        @media (max-width: 760px) {
            margin-bottom: 50px;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        height: 100%;
        @media (max-width: 760px) {
            flex-direction: column;
        }
    }
    &__text {
        margin-bottom: 20px;
    }
    &__map {
        filter: brightness(60%);
        transition: all 0.3s;
        &:hover {
            filter: brightness(100%);
        }
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}