body {
    font-family: var(--body-fonts);
    background-color: var(--bg-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: var(--text-color);
}

h3 {
    font-weight: 500;
    font-size: calc(var(--index) * 2.26);
    line-height: 159.4%;
    text-align: center;
    color: var(--text-accent-color);
}

span {
    display: inline;
}

section {
    position: relative;
}

p {
    text-indent: 1.5em;
}

.container {
    position: relative;
    max-width: var(--body-width);
    padding: 0 var(--main-gap);
    margin: 0 auto;
}

.header {
    color: var(--text-color);
}

.persent {
    position: relative;
    &__cild {
        position: absolute;
        top: 30%;
        left: 110%;
    }
}

.big-btn {
    width: 100%;
    padding: 30px;
    font-size: 24px;
    line-height: 29px;
    border: 1px solid var(--text-accent-color);
    transition: all 0.3s ease;
    &:hover {
        background-color: var(--text-accent-color);
        color: var(--bg-color);
    }
}

.gorizontal-incraft {
    width: 100%;
    padding: 0 50px;
    z-index: -1;
    margin: 50px 0;
    object-fit: cover;
    opacity: 0.2;
}

.tabs__panel {
    display: none;
}

.tabs__nav {
    list-style: none;
    display: flex;
}

.tabs__nav-btn {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 50px;
    gap: 50px;
    height: 160px;
    transition: all 0.3s;
    & span {
        display: inline;
        color: var(--accent);
    }
    & svg {
        width: 100%;
        max-width: 140px;
    }
}

.tabs__nav {
    list-style: none;
    display: flex;
}

.tabs__panel--active {
    display: block;
}

.tabs__nav-btn:focus {
    color: #fff;
}

.tabs__nav-btn--active {
    background-color: #fff;
    & .tabs__nav-text {
        color: black;
        & span {
            color: var(--accent);
        }
    }
}

.tabs__nav-item:not(:first-child) {
    border-top: 2px solid var(--accent);
}