.intro {
    margin-bottom: 150px;
    &__title {
        font-weight: 400;
        font-size: calc(var(--index) * 1.1);
        line-height: calc(var(--index) * 1.8);
        text-align: center;
        padding: 0 calc(var(--index) * 10);
        & i {
            color: var(--accent);
            text-transform: uppercase;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        &--info {
            position: relative;
            padding: 30px;
            border-left: 2px solid rgba(71, 71, 71, 0.4);
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100vw / 10);
                height: 2px;
                background: rgba(71, 71, 71, 0.4);
            }
            & span {
                color: var(--accent);
            }
        }
    }
    &__btn {
        margin-top: 70px;
    }
}

.intro .vertical-incraft {
    position: absolute;
    right: 50px;
    top: 0px;
    opacity: 0.1;
    z-index: -1;
}