.offer {
    position: relative;
    background-image: url(../img/offer-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    height: calc(100vh - 110px);
    min-height: 680px;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($color: #000000, $alpha: 0.7);
        z-index: 2;
    }
    &__title {
        font-weight: 700;
        font-size: calc(var(--index) * 2.4);
        line-height: calc(var(--index) * 2.8);
        letter-spacing: 0.06em;
        color: var(--text-accent-color);
        max-width: 1260px;
        margin-bottom: 15px;
        padding-top: 150px;
        @media(max-width: 960px) {
            padding-top: 50px;
        }
        @media(max-width: 753px) {
            font-size: calc(var(--index) * 2.6);
            line-height: calc(var(--index) * 3.2);
        }
        @media(max-width: 400px) {
            padding-top: 20px;
            margin-bottom: 20px;
        }
    }
    &__subtitle {
        display: block;
        position: relative;
        font-weight: 300;
        font-size: calc(var(--index) * 1.6);
        line-height: calc(var(--index) * 1.8);
        text-align: left;
        margin-bottom: 60px;
        padding-bottom: calc(var(--index) * 5.4);
        white-space: nowrap;
        & span {
            position: absolute;
            bottom: 0;
            right: calc(var(--index) * 5.8);
            font-family: var(--second-fonts);
            font-weight: 400;
            font-size: calc(var(--index) * 5.3);
            line-height: 136px;
            color: var(--text-accent-color);
            margin-left: 30%;
            @media(max-width: 1200px) {
                bottom: -20px;
                right: 30%;
            }
            @media(max-width: 753px) {
                bottom: -70px;
                font-size: 100px;
            }
        }
    }
    &__slider {
        min-width: 0;
        max-width: 540px;
        margin: 0 auto;
        overflow: hidden;
        @media (max-width: 540px) {
            max-width: 300px;
        }
        @media (max-width: 400px) {
            max-width: 280px;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        align-items: end;
        min-width: 0;
        @media(max-width: 753px) {
            flex-direction: column;
            align-items: start;
            gap: 30px;
        }
        &--text {
            position: relative;
            max-width: 520px;
            font-size: calc(var(--index) * 1.2);
            line-height: calc(var(--index) * 2);
            margin-left: auto;
            padding-bottom: calc(var(--index) * 3);
            @media(max-width: 960px) {
                font-size: calc(var(--index) * 1);
            }
            @media(max-width: 753px) {
                padding-bottom: calc(var(--index) * 7);
                font-size: calc(var(--index) * 2.6);
                line-height: calc(var(--index) * 3);
            }
            @media (max-width: 540px) {
                font-size: calc(var(--index) * 2);
                max-width: 280px;
            }
            & span {
                color: var(--green);
                font-weight: 700;
            }
            & p {
                display: inline-block;
                font-size: calc(var(--index) * 2);
                text-indent: 0;
                margin: 0;
                @media(max-width: 753px) {
                    font-size: calc(var(--index) * 3.2);
                }
            }
            & img {
                position: absolute;
                bottom: calc(var(--index) * 1);
                right: calc(var(--index) * 1.5);
                width: 80px;
                height: 80px;
                object-fit: cover;
                @media (max-width: 540px) {
                    right: calc(var(--index) * 10);
                }
                @media (max-width: 400px) {
                    width: 60px;
                    height: 60px;
                    right: calc(var(--index) * 3);
                    bottom: calc(var(--index) * 1.8);
                }
            }
        }
    }
    &__scroll {
        width: 80px;
        height: 80px;
        border: 1px solid var(--accent);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-left: 50px;
        cursor: pointer;
        transition: all 0.3s;
        animation: down linear infinite 1s;
        @media(max-width: 753px) {
            display: none;
        }
    }
    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;
        width: 100%;
        &--slider {
            position: relative;
            width: 180px;
            height: 80px;
            @media(max-width: 989px) {
                width: 260px;
            }
            @media(max-width: 753px) {
                display: none;
            }
        }
    }
}

@keyframes down {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(0%);
    }
    75% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0%);
    }
}

.offer-slider {
    &__btn {
        position: absolute;
        bottom: 0;
        width: 80px;
        height: 80px;
        border: 1px solid var(--accent);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1000;
        &--next {
            right: 0;
        }
    }
}

.offer .vertical-incraft {
    position: absolute;
    left: calc(var(--index) * 1.5);
    top: calc(var(--index) * 1.5);
    opacity: 0.5;
    height: calc(var(--index) * 27);
    z-index: 1;
}