.portfolio {
    position: relative;
    width: 100%;
    &__container {
        width: 100%;
        max-height: 695px;
        margin: 130px auto;
        padding-bottom: 80px;
        &--inner {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                bottom: 90px;
                left: 50px;
                height: 2px;
                width: 83%;
                background: var(--accent);
            }
        }
        &--info {
            width: 100%;
            overflow: hidden;
            & img {
                width: auto;
                object-fit: cover;
            }
        }
        &--text {
            max-width: 300px;
            height: 65px;
            position: absolute;
            bottom: 60px;
            left: 50px;
        }
        &--btn {
            position: absolute;
            bottom: 20px;
            right: 80px;
            display: inline-block;
            padding: 10px 60px;
            border: 1px solid var(--accent);
        }
        &--gr {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.93) 100%);
            transition: all 0.3s;
            z-index: 99;
        }
    }
}

.swiper-slide-active .portfolio__container--gr {
    opacity: 0.4;
}

.swiper-slide-active .portfolio__container--btn {
    z-index: 100;
}

.swiper-slide-active .portfolio__container--text {
    z-index: 100;
}

.portfolio__slider .slider__btn {
    position: absolute;
    top: 100px;
    right: 0;
}

.portfolio__slider .slider__btn {
    position: absolute;
    top: 100px;
    right: 240px;
    width: 80px;
    height: 80px;
    border: 1px solid var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    &--next {
        right: 160px;
    }
}