.products {
    margin-bottom: 100px;
    @media (max-width: 680px) {
        flex-direction: column;
    }
    @media (max-width: 540px) {
        margin-bottom: 20px;
    }
    &__title {
        padding: 20px 0;
        margin-bottom: 80px;
        border-top: 2px solid var(--accent);
        border-bottom: 2px solid var(--accent);
    }
    &.container {
        position: relative;
        z-index: 100;
    }
    &__inner {
        display: flex;
        overflow: hidden;
        min-width: 0;
        @media (max-width: 680px) {
            flex-direction: column;
        }
    }
    &__slider-img {
        position: relative;
        flex: 0 0 50%;
        transform: translateX(-100%, 0);
        min-width: 0;
        width: 100%;
        @media (max-width: 680px) {
            margin-bottom: 20px;
        }
        & .products-btn {
            position: absolute;
            top: 400px;
            z-index: 200;
            @media (max-width: 960px) {
                width: 60px;
                height: 60px;
            }
            @media (max-width: 680px) {
                top: 340px;
            }
        }
        &--slide {
            height: 500px;
            @media (max-width: 680px) {
                height: 400px;
            }
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &--prev {
            right: -80px;
            background-color: var(--accent);
            @media (max-width: 960px) {
                right: -60px;
            }
            @media (max-width: 680px) {
                right: 0px;
            }
            & svg path {
                fill: black;
            }
        }
        &--next {
            @media (max-width: 680px) {
                right: 60px;
            }
            background-color: rgba($color: #000000, $alpha: 0.7);
        }
    }
    &__slider-info {
        flex: 0 0 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--title {
            font-size: calc(var(--index)*1.4);
            margin-bottom: 20px;
            @media (max-width: 680px) {
                font-size: 20px;
                text-align: center;
            }
        }
        &--text {
            margin-top: 50px;
            margin-bottom: auto;
            font-size: 16px;
            @media (max-width: 960px) {
                font-size: 14px;
                line-height: 20px;
                margin-top: 0;
            }
            @media (max-width: 680px) {
                margin-bottom: 20px;
            }
        }
        &--btns {
            display: grid;
            grid-template-columns: 48% 48%;
            justify-content: space-between;
        }
        &--btn {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 10px 15px;
            font-size: 18px;
            line-height: 22px;
            @media (max-width: 760px) {
                padding: 5px 10px;
            }
        }
    }
}