    .sertification {
        background-image: url(../img/sert-bg.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        padding: 200px 0;
        @media (max-width: 540px) {
            padding: 50px 0;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .7);
            z-index: 1;
        }
        &__title {
            margin-bottom: 200px;
            @media (max-width: 740px) {
                margin-bottom: 80px;
            }
            @media (max-width: 540px) {
                margin-bottom: 50px;
            }
        }
        &__inner {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            width: 100%;
            gap: 50px;
            & img {
                flex: 1 1 30%;
                filter: brightness(60%);
                transition: all 0.3s;
                width: 100%;
                height: auto;
                &:hover {
                    filter: brightness(100%);
                }
            }
            @media (max-width: 740px) {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }