:root {
    --index: calc(1vw + 1vh);
    --accent: #C18E57;
    --main-gap: 15px;
    --big-gap: calc(var(--index) * 10);
    --small-gap: 10px;
    --body-width: 1580px;
    --body-fonts: "Montserrat", sans-serif;
    --second-fonts: "Bahamas", sans-serif;
    --bg-color: #000;
    --text-color: #fff;
    --text-accent-color: #BCBCBC;
    --green: #98BB37;
    // --text-sh: 1px 1px 12px rgba(#000000, 0.3);
}