.works {
    margin-bottom: 100px;
    &__title {
        margin-bottom: 80px;
    }
    &__inner {
        position: relative;
        background-color: #fff;
        margin-bottom: 80px;
    }
    &__logo {
        position: absolute;
        top: 20px;
        left: 300px;
    }
    &__tabs {
        display: grid;
        grid-template-columns: calc(var(--index)*12) auto;
        @media (max-width: 500px) {
            display: flex;
            flex-direction: column;
        }
        &--nav {
            display: flex;
            flex-direction: column;
            @media (max-width: 500px) {
                display: flex;
                flex-direction: row;
                padding-bottom: 80px;
            }
        }
        &--btn {
            width: 100%;
        }
        &--btn:nth-child(1) {
            background-color: #1a1a1a;
        }
        &--btn:nth-child(2) {
            background-color: #333333;
        }
        &--btn:nth-child(3) {
            background-color: #454545;
        }
        &--btn:nth-child(4) {
            background-color: #616161;
        }
        &--text {
            position: absolute;
            top: -120px;
            right: 0;
            font-size: calc(var(--index)*1.2);
            font-weight: 500;
            line-height: calc(var(--index)*1.6);
            margin: 0 auto;
            & span {
                display: block;
                color: var(--accent);
            }
            @media (max-width: 500px) {
                top: -80px;
                right: 20;
            }
        }
        &--panel {
            position: relative;
            height: 100%;
        }
        &--desc {
            font-size: 14px;
            line-height: 22px;
            @media (max-width: 620px) {
                display: none;
            }
        }
        &--content {
            position: relative;
            background-color: #fff;
            color: black;
            padding: 50px 20px;
            height: 80%;
            // width: 100%;
            margin-top: auto;
            @media (max-width: 500px) {
                padding: 20px 10px;
            }
        }
        &--info {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            align-items: start;
            height: 100%;
            @media (max-width: 960px) {
                flex-direction: column;
            }
            @media (max-width: 620px) {
                display: block;
            }
        }
        &--img {
            min-width: 65%;
            width: 100%;
            height: auto;
            max-height: 400px;
            object-fit: cover;
            @media (max-width: 960px) {
                max-width: 100%;
                height: calc(var(--index)*18);
                margin-left: auto;
            }
            @media (max-width: 620px) {
                height: 100%;
                min-width: 100%;
            }
        }
    }
    &__consultation {
        text-align: center;
        &--text {
            font-weight: 500;
            font-size: calc(var(--index)*1.41);
            line-height: 159.4%;
            color: var(--text-accent-color);
            margin-bottom: 50px;
        }
        &--btn {
            max-width: calc(var(--index) * 23);
            margin: 0 auto;
            @media (max-width: 960px) {
                max-width: 100%;
            }
        }
    }
}